<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="jumbotron">
      <h1 class="display-4 text-center">ใครบ้างที่อยู่ในรูปภาพพพพพพพ</h1>

      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    </div>

    <div class="container mt-1">
      <div class="card">
        <div class="card-body">
          ขั้นตอนในการทำงาน 
          <ul>
            <li> 1. เลือกรูปภาพที่ต้องการค้นหาใบหน้า แล้วกดที่ Upload and Process</li>
          <li>2. รอสักครู่ เมื่อประมวลผลเสร็จแล้วจะแสดงใบหน้าในรูปภาพ (การประมวลนี้ใช้ cpu ในการประมวลผล #ช้าถึงช้ามาก)</li>
          <li class="text-danger">* เว็บไซต์นี้ไม่ได้บันทึกรูปภาพที่อัพโหลดไว้ใน server แต่อย่างใด เนื่องจากกลัว PDPA นะครับ</li>
          </ul>
        </div>
      </div>

      <div class="card mt-2">
        <div class="card-body">
          {% if img %} 
          {{ countpic }}
          {% for i in img %}      
          <p>{{ i }}</p>
          {% endfor %}
        {% endif %}

        </div>
      </div>




    </div>

    <script>
      function showImage(src,target) {
        var fr=new FileReader();
        fr.onload = function(e) { target.src = this.result; };
        src.addEventListener("change",function() {
          fr.readAsDataURL(src.files[0]);
        });
      }
      var src = document.getElementById("srcd");
      var target = document.getElementById("targets");
      showImage(src,target);
      </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  </body>
</html>